<%= render partial: 'layouts/navbar' %>

<div class="list">
  <h1>Following</h1>
  <hr>

  <% @following.each do |follow| %>
    <h3><%= link_to follow.login, follow.html_url %></h3>
    <%= image_tag follow.avatar_url, class: "thumbnail" %>
    <br><br>
    <hr>
  <% end %>
</div>
