<ul class="nav_ul">
  <li class="nav_li"><img class="nav_logo" src="https://static.wixstatic.com/media/7b5e67_514511f5eee64e3d90ab855dafb4d014~mv2.png" ></li>
  <li class="nav_li"><a href="/dashboard">My Profile</a></li>
  <li class="nav_li"><a href="#repositories">Repositories</a></li>
  <li class="nav_li"><a href="/stars">Stars (<%= @star_count %>)</a></li>
  <li class="nav_li"><a href="/followers">Followers (<%= @follower_count %>)</a></li>
  <li class="nav_li"><a href="#following">Following</a></li>
  <li class="nav_li"><a href="#organizations">Organizations</a></li>
  <li class="nav_li"><a href="#recent_commits">Recent Commits</a></li>
  <li class="nav_li" style="float:right"><a href="/logout">Logout</a></li>
</ul>
